.env
.idea/
data/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
/export/
.idea/
code_folder/premise_setup.py
data/input_data
data/output_data
data/prices
data/lci-batt_lci.xlsx
data/recovery_model_outputs
psilca
code_folder/__pycache__/
visualization
code_folder/helpers/__pycache__
.vscode
export/
export